<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>注册账号</title>
</head>
<body>
<form action="/register" method="post">
    <table align="center">
        <tr>
            <td>用户名:</td>
            <td><input type="text" name="username"/></td>
        </tr>
        <tr>
            <td>密码:</td>
            <td><input type="password" name="password"/></td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr align="center">
            <td colspan="2">
                <input type="submit" value="确定" name="register"/>
            </td>
        </tr>
    </table>
</form>
<h3 th:text="${errorMsg}"></h3>
</body>
</html>